@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

* {
  margin: 0;
  padding: 0;
}

.modal-container {
  display: none;
}

.modal {
  max-width: 100vw;
  height: 100vh;
  position: fixed;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: backdrop-filter 0s ease;
}

.modal.blur {
    background-color: rebeccapurple;
}

.modal-container-inner {
    background: #a4363e;
    padding: 40px;
    border-radius: 30px;
    width: 640px; 
}

.modal-content {
    background: radial-gradient(#fffbf3, #ffe19e);
    box-sizing: border-box;
    border-radius: 20px 18px 20px 18px;
    box-shadow: 0px 0px 0px 6px #5e1e21, 0px 0px 8px 6px #84222b, inset 0px 0px 15px 0px #614506, 6px 6px 1px 1px #e66565, -6px 6px 1px 1px #e66565;
    text-align: center;
    padding: 8px;
}

.modal-content video {
  width: 100%;
  border-radius: 20px 18px 20px 18px;
  height: auto;
}

.modaaal p {
  font-size: 56px;
  padding: 40px;
  box-sizing: border-box;
  color: #461417;
}

.modal-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: normal;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
}
.modal-buttons button {
  padding: 20px;
  flex: 1;
  border-radius: 20px;
  border: 2px solid #49181e;
  font-family: "Skranji", cursive;
  color: #fff;
  font-size: 32px;
  text-shadow: 1px 2px 3px #000000;
  cursor: pointer;
}
.modal-buttons button.confirm {
  background: linear-gradient(#ced869, #536d1b);
  box-shadow: 0px 0px 0px 4px #7e1522, 0px 2px 0px 3px #e66565;
}
.modal-buttons button.confirm:hover {
  box-shadow: 0px 0px 0px 4px #7e1522, 0px 2px 0px 3px #e66565, inset 2px 2px 10px 3px #4e6217;
}
.modal-buttons button.cancel {
  background: linear-gradient(#ea7079, #891a1a);
  box-shadow: 0px 0px 0px 4px #7e1522, 0px 2px 0px 3px #e66565;
}
.modal-buttons button.cancel:hover {
  box-shadow: 0px 0px 0px 4px #7e1522, 0px 2px 0px 3px #e66565, inset 2px 2px 10px 3px #822828;
}

/* Modal Deseos */
.modal-deseos {
  display: none;
  position: absolute;
  margin-top: -78%;
  animation: fadeInUp 1s ease-in-out;
}

.form__contact {
  max-width: 640px;
  margin: 0 auto;
  border-left: 30px solid white;
  -o-border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0MS44NnB4IiBoZWlnaHQ9IjUyLjMyNnB4IiB2aWV3Qm94PSIwIDAgNDEuODYgNTIuMzI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MS44NiA1Mi4zMjYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDB2MjUuMTYzaDcuMDk3YzAuNTAxLTQuOTg5LDQuNzEyLTguODg0LDkuODMzLTguODg0YzUuNDU4LDAsOS44ODQsNC40MjUsOS44ODQsOS44ODRzLTQuNDI1LDkuODg0LTkuODg0LDkuODg0Yy01LjEyMSwwLTkuMzMyLTMuODk1LTkuODMzLTguODg0SDB2MjUuMTYzaDQxLjg2VjBIMHoiLz48L3N2Zz4=) 5% 100% repeat;
     border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0MS44NnB4IiBoZWlnaHQ9IjUyLjMyNnB4IiB2aWV3Qm94PSIwIDAgNDEuODYgNTIuMzI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MS44NiA1Mi4zMjYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDB2MjUuMTYzaDcuMDk3YzAuNTAxLTQuOTg5LDQuNzEyLTguODg0LDkuODMzLTguODg0YzUuNDU4LDAsOS44ODQsNC40MjUsOS44ODQsOS44ODRzLTQuNDI1LDkuODg0LTkuODg0LDkuODg0Yy01LjEyMSwwLTkuMzMyLTMuODk1LTkuODMzLTguODg0SDB2MjUuMTYzaDQxLjg2VjBIMHoiLz48L3N2Zz4=) 5% 100% repeat;
  border-image-width: 0px 0px 0px 30px;
  transform: translateY(100%);

}
.form__contact fieldset {
  position: relative;
  margin: 0;
  padding: 30px 30px 40px 80px;
  border: none;
  border-radius: 0 20px 20px 0;
  font: 24px "Shadows Into Light", cursive;
  background: #fff linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0) 0 20px/100% 40px;
}
.form__contact fieldset:after {
  position: absolute;
  top: 0;
  left: 50px;
  content: "";
  height: 100%;
  width: 1px;
  border-left: double #e08183;
}
.form__contact p {
  margin: 0 0 40px 0;
  line-height: 40px;
  color: #333;
}
.form__contact span {
  position: relative;
  line-height: 40px;
}
.form__contact button {
  float: right;
  border: none;
  font-family: "Shadows Into Light", cursive;
  color: #e08183;
  background: transparent;
  cursor: pointer;
  transition: transform 0.25s ease;
}
.form__contact button:hover {
  transform: translateX(10px);
}
.form__field {
  display: inline;
  color: #7db665;
  outline: none;
}
.form__field:empty {
  display: inline-block;
  color: #ddd;
}
.form__field:empty:before, .form__field:empty:focus:before {
  content: attr(data-placeholder);
}

.estrellita img {
    height: 28px;
    position: absolute;
    margin-top: 8px;
    margin-bottom: 30px;
}

.estrellita span {
    margin-left: 30px;
}

.mensajitoms p {
    font-size: 14px;
}

.mensajitoms p span img  {
    height: 28px;
    position: absolute;
    margin-top: 8px;
    margin-bottom: 30px;
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,400px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
