.centro-transition {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #ff7c70;
}


@keyframes circle-in-center {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:center"] {
  animation: 5s linear circle-in-center both;
}
