@import url(./utils/buttons.css);
@import url(./utils/transition-style.css);
@import url(./utils/sub-gallery.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #555555;
}

/* Overlay Start */
.overlay-start {
  height: 100vh;
  width: 100%;
  position: relative; 
  overflow: hidden; 
  font-family: mc ;
}

.bubble {
  width: 150px;
  height: 32px;
  line-height: 30px;
  font-weight: bold;
  left: 0px;
  text-align: center;
  background-color: rgba(197, 197, 197, 0.8); 
  color: black;
  border-radius: 10px;
  opacity: 0;
  will-change: transform;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  position: absolute;
  z-index: 2; 
}

/* Content */
.container {
    display: none;
}

/* Container*/
.container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

/* Sections */
.start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Transition */
.centro-transition {
    display: none;
}

/* One Section */
.one-section {
    display: none;
}

/* Media Query */
@media (max-width: 768px) {

    .container { 
        width: 96%;
    }
    
}

/* ScrollBar */
::-webkit-scrollbar {
    display: none;
}

/* Fonts */
@font-face {
    font-family: mc;
    src: url(../fonts/Minecraft.ttf);
}